[submodule "includes/Podio"]
	path = includes/Podio
	url = https://github.com/podio/podio-php.git
[submodule "includes/Twilio"]
	path = includes/Twilio
	url = https://github.com/twilio/twilio-php.git
