/*

Uniform Theme: Agent
Version: 1.0
By: Collin Allen
License: Creative Commons Share Alike
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/

*/

/* Global Declaration */

.iphorm-uniform-theme-agent div.selector, 
.iphorm-uniform-theme-agent div.selector span,
.iphorm-uniform-theme-agent div.checker span,
.iphorm-uniform-theme-agent div.radio span,
.iphorm-uniform-theme-agent div.uploader,
.iphorm-uniform-theme-agent div.uploader span.action {
  background-image: url(images/sprite-agent.png);
  background-repeat: no-repeat;
}

.iphorm-uniform-theme-agent .selector, 
.iphorm-uniform-theme-agent .radio, 
.iphorm-uniform-theme-agent .checker, 
.iphorm-uniform-theme-agent .uploader, 
.iphorm-uniform-theme-agent .selector *, 
.iphorm-uniform-theme-agent .radio *, 
.iphorm-uniform-theme-agent .checker *, 
.iphorm-uniform-theme-agent .uploader * {
	margin: 0;
	padding: 0;
}

/* SPRITES */

/* Select */

.iphorm-uniform-theme-agent div.selector {
  background-position: -483px -160px;
  line-height: 32px;
	height: 32px;
}

.iphorm-uniform-theme-agent div.selector span {
  background-position: right 0px;
  height: 32px;
	line-height: 32px;
}

.iphorm-uniform-theme-agent div.selector select {
  /* change these to adjust positioning of select element */
  top: 0px;
	left: 5px;
}

.iphorm-uniform-theme-agent div.selector:active, 
.iphorm-uniform-theme-agent div.selector.active {
	background-position: -483px -192px;
}

.iphorm-uniform-theme-agent div.selector:active span, 
.iphorm-uniform-theme-agent div.selector.active span {
	background-position: right -32px;
}

.iphorm-uniform-theme-agent div.selector.focus, .iphorm-uniform-theme-agent div.selector.hover, .iphorm-uniform-theme-agent div.selector:hover {
	background-position: -483px -224px;
}

.iphorm-uniform-theme-agent div.selector.focus span, .iphorm-uniform-theme-agent div.selector.hover span, .iphorm-uniform-theme-agent div.selector:hover span {
	background-position: right -64px;
}

.iphorm-uniform-theme-agent div.selector.focus:active,
.iphorm-uniform-theme-agent div.selector.focus.active,
.iphorm-uniform-theme-agent div.selector:hover:active,
.iphorm-uniform-theme-agent div.selector.active:hover {
	background-position: -483px -256px;
}

.iphorm-uniform-theme-agent div.selector.focus:active span,
.iphorm-uniform-theme-agent div.selector:hover:active span,
.iphorm-uniform-theme-agent div.selector.active:hover span,
.iphorm-uniform-theme-agent div.selector.focus.active span {
	background-position: right -96px;
}

.iphorm-uniform-theme-agent div.selector.disabled,
.iphorm-uniform-theme-agent div.selector.disabled:active,
.iphorm-uniform-theme-agent div.selector.disabled.active {
	background-position: -483px -288px;
}

.iphorm-uniform-theme-agent div.selector.disabled span,
.iphorm-uniform-theme-agent div.selector.disabled:active span,
.iphorm-uniform-theme-agent div.selector.disabled.active span {
  background-position: right -128px;
}

/* Checkbox */

.iphorm-uniform-theme-agent div.checker {
  width: 23px;
  height: 23px;
}

.iphorm-uniform-theme-agent div.checker input {
  width: 23px;
  height: 23px;
}

.iphorm-uniform-theme-agent div.checker span {
  background-position: 0px -320px;
  height: 23px;
  width: 23px;
}

.iphorm-uniform-theme-agent div.checker:active span, 
.iphorm-uniform-theme-agent div.checker.active span {
	background-position: -23px -320px;
}

.iphorm-uniform-theme-agent div.checker.focus span,
.iphorm-uniform-theme-agent div.checker:hover span {
	background-position: -46px -320px;
}

.iphorm-uniform-theme-agent div.checker.focus:active span,
.iphorm-uniform-theme-agent div.checker:active:hover span,
.iphorm-uniform-theme-agent div.checker.active:hover span,
.iphorm-uniform-theme-agent div.checker.focus.active span {
	background-position: -69px -320px;
}

.iphorm-uniform-theme-agent div.checker span.checked {
	background-position: -92px -320px;
}

.iphorm-uniform-theme-agent div.checker:active span.checked, 
.iphorm-uniform-theme-agent div.checker.active span.checked {
	background-position: -115px -320px;
}

.iphorm-uniform-theme-agent div.checker.focus span.checked,
.iphorm-uniform-theme-agent div.checker:hover span.checked {
	background-position: -138px -320px;
}

.iphorm-uniform-theme-agent div.checker.focus:active span.checked,
.iphorm-uniform-theme-agent div.checker:hover:active span.checked,
.iphorm-uniform-theme-agent div.checker.active:hover span.checked,
.iphorm-uniform-theme-agent div.checker.active.focus span.checked {
	background-position: -161px -320px;
}

.iphorm-uniform-theme-agent div.checker.disabled span,
.iphorm-uniform-theme-agent div.checker.disabled:active span,
.iphorm-uniform-theme-agent div.checker.disabled.active span {
	background-position: -184px -320px;
}

.iphorm-uniform-theme-agent div.checker.disabled span.checked,
.iphorm-uniform-theme-agent div.checker.disabled:active span.checked,
.iphorm-uniform-theme-agent div.checker.disabled.active span.checked {
	background-position: -207px -320px;
}

/* radio */

.iphorm-uniform-theme-agent div.radio {
  width: 23px;
  height: 23px;
}

.iphorm-uniform-theme-agent div.radio input {
  width: 23px;
  height: 23px;
}

.iphorm-uniform-theme-agent div.radio span {
  height: 23px;
  width: 23px;
  background-position: 0px -343px;
}

.iphorm-uniform-theme-agent div.radio:active span, 
.iphorm-uniform-theme-agent div.radio.active span {
	background-position: -23px -343px;
}

.iphorm-uniform-theme-agent div.radio.focus span, 
.iphorm-uniform-theme-agent div.radio:hover span {
	background-position: -46px -343px;
}

.iphorm-uniform-theme-agent div.radio.focus:active span,
.iphorm-uniform-theme-agent div.radio:active:hover span,
.iphorm-uniform-theme-agent div.radio.active:hover span,
.iphorm-uniform-theme-agent div.radio.active.focus span {
	background-position: -69px -343px;
}

.iphorm-uniform-theme-agent div.radio span.checked {
	background-position: -92px -343px;
}

.iphorm-uniform-theme-agent div.radio:active span.checked,
.iphorm-uniform-theme-agent div.radio.active span.checked {
	background-position: -115px -343px;
}

.iphorm-uniform-theme-agent div.radio.focus span.checked, .iphorm-uniform-theme-agent div.radio:hover span.checked {
	background-position: -138px -343px;
}

.iphorm-uniform-theme-agent div.radio.focus:active span.checked, 
.iphorm-uniform-theme-agent div.radio:hover:active span.checked,
.iphorm-uniform-theme-agent div.radio.focus.active span.checked,
.iphorm-uniform-theme-agent div.radio.active:hover span.checked {
	background-position: -161px -343px;
}

.iphorm-uniform-theme-agent div.radio.disabled span,
.iphorm-uniform-theme-agent div.radio.disabled:active span,
.iphorm-uniform-theme-agent div.radio.disabled.active span {
	background-position: -184px -343px;
}

.iphorm-uniform-theme-agent div.radio.disabled span.checked,
.iphorm-uniform-theme-agent div.radio.disabled:active span.checked,
.iphorm-uniform-theme-agent div.radio.disabled.active span.checked {
	background-position: -207px -343px;
}

/* uploader */

.iphorm-uniform-theme-agent div.uploader {
  background-position: 0px -366px;
  height: 32px;
}

.iphorm-uniform-theme-agent div.uploader span.action {
  background-position: right -494px;
  height: 24px;
  line-height: 24px;
}

.iphorm-uniform-theme-agent div.uploader span.filename {
  height: 24px;
  /* change this line to adjust positioning of filename area */
  margin: 4px 0px 4px 4px;
  line-height: 24px;
}

.iphorm-uniform-theme-agent div.uploader.focus,
.iphorm-uniform-theme-agent div.uploader.hover,
.iphorm-uniform-theme-agent div.uploader:hover {
  background-position: 0px -430px;
}

.iphorm-uniform-theme-agent div.uploader.focus span.action,
.iphorm-uniform-theme-agent div.uploader.hover span.action,
.iphorm-uniform-theme-agent div.uploader:hover span.action {
  background-position: right -526px;
}

.iphorm-uniform-theme-agent div.uploader.active span.action,
.iphorm-uniform-theme-agent div.uploader:active span.action {
  background-position: right -558px;
}

.iphorm-uniform-theme-agent div.uploader.focus.active span.action,
.iphorm-uniform-theme-agent div.uploader:focus.active span.action,
.iphorm-uniform-theme-agent div.uploader.focus:active span.action,
.iphorm-uniform-theme-agent div.uploader:focus:active span.action {
  background-position: right -590px;
}

.iphorm-uniform-theme-agent div.uploader.disabled {
  background-position: 0px -398px;
}

 .iphorm-uniform-theme-agent div.uploader.disabled span.action {
  background-position: right -462px;
}

/* PRESENTATION */

/* Select */
.iphorm-uniform-theme-agent div.selector {
  margin-bottom: 10px;
  width: auto;
  max-width: 400px;
  color: #464545;
  font-size: 13px;
}

.iphorm-uniform-theme-agent div.selector select {
  width: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	border: solid 1px #fff;
	padding: 6px;
	margin-left: 4px;
}

.iphorm-uniform-theme-agent div.selector span {
  padding: 0px 30px 0px 2px;
  cursor: pointer;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iphorm-uniform-theme-agent div.selector span {
  color: #ffffff;
  width: auto;
  text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
}

.iphorm-uniform-theme-agent div.selector.disabled span {
	color: #bbb;
}

/* checker */
.iphorm-uniform-theme-agent div.checker {
  margin-right: 10px;
}

/* radio */
.iphorm-uniform-theme-agent div.radio {
  margin-right: 10px;
}

/* uploader */
.iphorm-uniform-theme-agent div.uploader {
  width: 190px;
  margin-bottom: 5px;
  cursor: pointer;
}

.iphorm-uniform-theme-agent div.uploader span.action {
  width: 83px;
  text-align: center;
  text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
  background-color: #242424;
  font-weight: bold;
  color: #ffffff;
}

.iphorm-uniform-theme-agent div.uploader span.filename {
  color: #242424;
  width: 82px;
  border-right: solid 1px #2e2e2e;
  font-size: 90%;
  font-size: 11px;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iphorm-uniform-theme-agent div.uploader input {
  width: 190px;
}

 .iphorm-uniform-theme-agent div.uploader.disabled span.action {
  color: #aaa;
}

 .iphorm-uniform-theme-agent div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector, 
.checker, 
.button, 
.radio, 
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

.iphorm-uniform-theme-agent .selector select:focus, .iphorm-uniform-theme-agent .radio input:focus, .iphorm-uniform-theme-agent .checker input:focus, .iphorm-uniform-theme-agent .uploader input:focus {
  outline: 0;
}

/* Select */

 .iphorm-uniform-theme-agent div.selector {
	position: relative;
	padding-left: 10px;
}

 .iphorm-uniform-theme-agent div.selector span {
	display: block;
	float: left;
}

 .iphorm-uniform-theme-agent div.selector select {
	position: absolute;
	opacity: 0;
}

/* checker */

 .iphorm-uniform-theme-agent div.checker {
	position: relative;
	float: left;
}

 .iphorm-uniform-theme-agent div.checker span {
	display: block;
	float: left;
	text-align: center;
}

.iphorm-uniform-theme-agent div.checker input {
  opacity: 0;
  display: inline-block;
}

/* radio */

.iphorm-uniform-theme-agent div.radio {
	position: relative;
	float: left;
}

.iphorm-uniform-theme-agent div.radio span {
	display: block;
	float: left;
	text-align: center;
}

 .iphorm-uniform-theme-agent div.radio input {
  opacity: 0;
  text-align: center;
  display: inline-block;
}

/* uploader */

.iphorm-uniform-theme-agent div.uploader {
  position: relative;
  float: left;
  overflow: hidden;
}

.iphorm-uniform-theme-agent div.uploader span.action {
  float: left;
  display: inline;
  padding: 4px 0px;
  overflow: hidden;
  cursor: pointer;
}

.iphorm-uniform-theme-agent div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iphorm-uniform-theme-agent div.uploader input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
}